.aboutus-section {
  background-color: rgb(243 244 246);
  margin-top: 80px;
}

.nopadding {
  padding: 0 0;
}
.title-section-2 h5 {
  text-align: center;
  padding-bottom: 50px;
}
.title-2 {
  position: relative;
  font-family: IranYekan-M;
  font-size: 20px;
}

.title-2::before {
  content: "";
  position: absolute;
  background-color: orange;
  width: 28px;
  height: 3px;
  top: 13px;
  left: 75px;
}
.title-2::after {
  content: "";
  position: absolute;
  background-color: orange;
  width: 28px;
  height: 3px;
  top: 13px;
  left: -35px;
}
.title-section-2 h5 {
  padding-top: 35px;
}
.row .about-us-info {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 50px;
  width: 100%;
}

.about-us-info .about-us-left-side {
  flex: 1;
  height: 100%;
  margin-left: 100px;
}
.about-us-info .about-us-right-side {
  margin-right: 100px;
}
.about-us-right-side img {
  width: 480px;
  height: auto;
  display: block;
}

.about-us-left-side .res-box {
  display: inline;
  width: 100%;
  margin-left: 90px;
}
.first-child {
  font-family: IranYekan-B;
  font-size: 30px;
  line-height: 56px;
  margin-bottom: 20px;
}
.second-child {
  font-family: IranYekan-L;
  font-size: 25px;
  line-height: 30px;
  color: rgb(64, 62, 62);
  margin-bottom: 15px;
}
.space-of-text {
  font-size: 40px;
  font-family: vazirMatn-L;
  margin-bottom: 15px;
  color: rgb(64, 62, 62);
}
.third-child {
  font-family: vazirMatn-M;
  font-size: 20px;
  color: rgb(64, 62, 62);
  line-height: 30px;
}
@media screen and (max-width: 1125px) {
  .first-child {
    font-size: 20px;
  }
  .second-child {
    font-size: 18px;
  }
  .space-of-text {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .third-child {
    font-size: 15px;
  }
}
@media screen and (max-width: 1132px) {
  .about-us-right-side img {
    width: 370px;
    height: auto;
    display: block;
  }
}
@media screen and (max-width: 923px) {
  .row .about-us-info {
    flex-direction: column;
  }
  .about-us-info .about-us-right-side {
    margin-right: 20px;
  }
  .about-us-right-side img {
    width: 300px;
  }
  .about-us-left-side .res-box .res-box-header {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
  }
  .first-child {
    line-height: 35px;
    margin-bottom: 7px;
  }
  .second-child {
    line-height: 25px;
    margin-bottom: 3px;
  }
}
